@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
    background: #000000;
}

/* Reflection Effect */
.reflection {
    transform: scaleY(-1); /* Flip the text vertically */
    animation: fadeReflection 1.2s ease-out forwards; /* Reflection fade animation */
}

@keyframes fadeReflection {
    0% {
        opacity: 0.5; /* Initial visibility of the reflection */
    }
    100% {
        opacity: 0; /* Completely fades out */
    }
}
